<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Tambah Penghasilanmu Sekarang Juga!</h2>
            <div>
                <a href="https://play.google.com/store/apps/details?id=id.tokokuota" class="btn btn-default btn-xl" target="_blank">
                    <i class="fab fa-google-play"></i> Download di Google Play
                </a>
                <a href="#" class="btn btn-default btn-xl" target="_blank">
                    <i class="fab fa-apple"></i> Download di App Store
                </a>
                <a href="https://mitratokokuota.web.app" class="btn btn-default btn-xl" target="_blank">
                    <i class="fas fa-desktop"></i> Akses Versi Web
                </a>
            </div>  
        </div>
    </div>
</aside>