<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Manfaatkan potensi orang di sekitarmu!</h2>
                <hr class="light">
                <p class="text-faded">Sipapun orang-orang di sekelilingmu, pak bos, atasan, bawahan, teman sebelah, tetangga offline, tetangga online semua butuh pulsa, kuota internet, isi token listrik. Saatnya Kamu mendapatkan ~CUAN~ dengan jualan pulsa pakai aplikasi Tokokuota!</p>
                <a href="https://mitratokokuota.web.app" class="btn btn-default btn-xl">Dapatkan Cuan Sekarang!</a>
            </div>
        </div>
    </div>
</section>