<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Manfaatkan potensi orang di sekitarmu!</h2>
                <hr class="light">
                <p class="text-faded">Siapapun mereka — Pak Bos, Atasan, Bawahan, Teman Sebelah, Tetangga Offline, hingga Tetangga Online — semuanya butuh pulsa, kuota internet, dan token listrik. Saatnya Kamu dapetin CUAN dari jualan pulsa pakai aplikasi Tokokuota!</p>
                <div>
                    <a href="https://play.google.com/store/apps/details?id=id.tokokuota" class="btn btn-default btn-xl" target="_blank">
                        <i class="fab fa-google-play"></i> Download di Google Play
                    </a>
                    <a href="https://apps.apple.com/us/app/tokokuota/id6670304813" class="btn btn-default btn-xl" target="_blank">
                        <i class="fab fa-apple"></i> Download di App Store
                    </a>
                    <a href="https://mitratokokuota.web.app" class="btn btn-default btn-xl" target="_blank">
                        <i class="fas fa-desktop"></i> Akses Versi Web
                    </a>
                </div>                
            </div>
        </div>
    </div>
</section>