<header>    
    <div class="header-content">
        <div class="header-content-inner">
            <img src="img/logo.png" class="img-responsive" alt=""> 
            <br><br>
            <h2>Tambah Penghasilan dengan Mudah! Apapun profesimu</h2>
            <hr>
            <p>Warung Sembako, Toko Kelontong, Konter Pulsa, Office Boy, Staff Kantor, Cleaning Service, Security, Pelajar, atau Mahasiswa - Semua Bisa Dapat Untung dari Setiap Transaksi.</p>            
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Caranya?</a>
        </div>
    </div>
</header>
