<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Kenapa Tokokuota?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-check-circle wow bounceIn text-primary"></i>
                    <h3>Mudah Digunakan</h3>
                    <p class="text-muted">Mudah digunakan tanpa perlu keahlian khusus.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-dollar wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Lansung Cuan</h3>
                    <p class="text-muted">Keuntungan langsung dari setiap transaksi.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-th-list wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Produk Lengkap</h3>
                    <p class="text-muted">Support berbagai macam produk dari supplier terpercaya.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-shield wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Dijamin Aman</h3>
                    <p class="text-muted">Tokokuota dijamin aman dan mudah digunakan, tanpa ribet!</p>
                </div>
            </div>
        </div>
    </div>
</section>
